
<div class="container vertical-center justify-content-center">
  <div class="card bg-dark col-md-6 text-light mx-auto">
    <div class="card-body">
      <h5 class="card-title">Forgot your password?</h5>
      <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <%= f.submit "Send me reset password instructions" %>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
