<div class="container vertical-center justify-content-center">
  <div class="card bg-dark col-md-6 text-light mx-auto">
    <div class="card-body">
      <h5 class="card-title">My Account</h5>
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> character minimum)</em>
        <% end %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
        <%= f.submit "Update" %>
      <% end %>
      <br>
      <%= button_to "Cancel my account", registration_path(resource_name), 
                data: { confirm: "Are you sure?" }, 
                method: :delete,class:'btn btn-sm btn-primary' %>
      <br>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
