<div class="container vertical-center justify-content-center">
  <div class="card bg-dark col-md-6 text-light mx-auto">
    <div class="card-body">
      <h5 class="card-title">Sign Up</h5>
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        <%= f.submit "Sign up" %>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>